@keyframes slide-left {
    0% {
        transform: translateX(-100%);
        margin-left: 0;
    }
    15% {
        transform: translateX(0%);
        margin-left: 0;
    }
    90% {
        transform: translateX(0%);
        margin-left: 0;
    }
    100% {
        transform: translateX(-100%);
        margin-left: 10px;
    }
}

#wst-banner {
    animation: slide-left 5s ease 1;
    background: #2BB36D;
    color: #fff;
    cursor: pointer;
    font: bold italic 32px Palatino, Georgia, sans-serif;
    left: 0;
    margin: 35px 0;
    margin-left: 10px;
    max-width: 100%;
    padding: 16px 32px;
    position: fixed;
    text-align: left;
    top: 0;
    transform: translateX(-100%);
    transition: all 0.35s ease;
    width: auto;
    z-index: 999999;
    &:hover {
        transform: translateX(0%);
        margin-left: 0;
    }
}